.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  border-radius: 16px;
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: auto;
  /* position: abslute; */
}

.modal-title {
  color: #000000;
  float: center;
  font-size: 28px;
  font-weight: bold;
  text-align: start;
  margin: 12px;
  text-decoration: none;
}

.close {
  background-color: #f4ecec;
  border-radius: 12px;
  padding: 12px;
  color: #222;
  float: right;
  font-size: 13px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.close:hover,
.close:focus {
  color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  cursor: pointer;
}

.instruction-container {
  display: flex;
  width: auto;
  flex-direction: column;
}

.modal-day-left {
  display: flex;
  margin-top: 12px;
  height: fit-content;
  width: fit-content;
  object-fit: contain;
  padding: 10px 15px;
  box-sizing: border-box;
  background: white;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid #ece9b0;
  padding: 10px;
  box-shadow: 6px 4px #ece9b0;
  transition: box-shadow 0.2s ease-out 0s, transform 0.2s ease-out 0s;
}

.modal-day-left:hover {
  box-shadow: rgba(32, 32, 32, 0.05) 0px 16px 16px 0px,
    rgba(42, 42, 42, 0.05) 0px 8px 8px 0px,
    rgba(49, 49, 49, 0.05) 0px 4px 4px 0px,
    rgba(45, 45, 45, 0.05) 0px 2px 2px 0px,
    rgba(35, 35, 35, 0.05) 0px 64px 64px 0px,
    rgba(49, 49, 49, 0.05) 0px 32px 32px 0px;
  transform: translate(-5px);
}

.countdown {
  display: flex;
  font-size: 12px;
  padding: 0;
  margin: 4px;
}

span {
  display: flex;
  font-size: 12px;
}

p {
  margin-left: 12px;
  text-align: start;
}

p.modal-label {
  margin: 12px;
  text-align: start;
  font-size: 1rem;
  font-weight: 600;
}

.modal-duedate {
  width: fit-content;
  background-color: #ece9b0;
  align-self: flex-end;
  transform: color 0.3s ease-in-out;
}

.modal-duedate:hover {
  background-color: rgb(204, 19, 19);
  color: #fff;
  transition: all 0.2s ease-in-out;
}
