@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,300;1,400;1,500&display=swap");

:root {
  --standard-border-radius: 8px;
}

body {
  font-family: "JetBrains Mono", sans-serif;
}

#app-name {
  font-size: 2.2em;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

section {
  margin: 20px 0;
}
.section-title {
  font-size: 1.25em;
  font-weight: bold;
  margin: 10px 0;
}
.section-subtitle {
  font-size: 1.1em;
}
.section-center {
  text-align: center;
}
.section-credit {
  text-align: center;
  font-size: 1.1em;
}
.section-right {
  text-align: right;
}
.section-left {
  text-align: left;
}

.section-board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
  padding: 10px;
}

.section-title {
  margin: 12px;
  padding: 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.description {
  text-align: center;
  color: rgb(0, 2, 107);
}

.info {
  font-size: 1em;
}

.button {
  margin: 8px;
  border-radius: 8px;
  padding: 5px 5px;
  border: 1px solid #aaa;
  background: white;
  cursor: pointer;
  font-family: "Mitr", sans-serif;
  font-size: 1em;
  text-align: center;
  width: fit-content;
}
.button:hover {
  background: rgb(255, 200, 105);
  color: white;
}
.logout-button:hover {
  background: rgb(204, 19, 19);
  color: white;
}
.change-page-button:hover {
  background: rgb(94, 127, 236);
  color: white;
}

/* kanban */

.kanban {
  display: flex;
  padding: 30px;
  width: 750px;
  background: hsl(323, 59%, 63%);
  border-radius: 8px;
}

.kanban * {
  font-family: sans-serif;
}

.kanban__column {
  flex: 1;
}

.kanban__column:not(:last-child) {
  margin-right: 30px;
}

.kanban__column-title {
  margin-bottom: 20px;
  font-size: 30px;
  color: white;
  user-select: none;
}

.kanban__item-input {
  padding: 10px 15px;
  box-sizing: border-box;
  background: white;
  border-radius: 12px;
  cursor: pointer;
}

.kanban__dropzone {
  height: 10px;
  transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
  height: 20px;
  background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

#course-name {
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.assignment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.assignments-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;

  margin: 10px;
  padding: 20px;
  background: #6a5252;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .assignments-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media (min-width: 1000px) {
  .assignments-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

#assignment-item {
  padding: 12px;
  background: #aeaaaa;
  margin: 12px;
  border-radius: 12px;
  cursor: pointer;
}

.title {
  text-align: center;
}
