@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,300;1,400;1,500&display=swap");

:root {
  --standard-border-radius: 8px;
}

header {
  display: flex;
  justify-content: center;
}

body {
  font-family: "JetBrains Mono", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/*---- Menu ----*/
.menu-bar-wrapper {
  padding: 20px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 999;
}

.menu-bar-wrapper.scrolled {
  background-color: #ebb7d9;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.logo {
  height: 20px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-item:not(:first-child) {
  margin-left: 24px;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  color: #f87060;
}

.nav-link:active {
  opacity: 0.5;
}

#app-name {
  font-size: 2.2em;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.description {
  text-align: center;
  color: rgb(0, 2, 107);
}

.info {
  font-size: 1em;
}

button {
  padding: 10px 20px;
  margin: 10px 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
}

.select-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

/* Use a limited color palette with bold accents */
.logout-button:hover {
  background-color: rgb(204, 19, 19);
  color: #fff;
  transition: all 0.2s ease-in-out;
}

/* ----- Container ------ */
.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
}

select {
  box-shadow: 0 10px 250x rgba(0, 0, 0, 0.25);
  width: 400px;
  max-width: 600px;
  outline: none;
  background: #f3efef;
  padding: 12px;
  border: none;
  border-radius: 12px;
}

/* kanban */

.kanban {
  display: none;
  padding: 30px;
  max-width: 750px;
  background: #ff597b;
  /* background: hsl(323, 59%, 63%); */
  border-radius: 20px;
}

.kanban * {
  font-family: sans-serif;
}

.kanban__column {
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
}

/* .kanban__column:not(:last-child) {
  padding-left: 30px;
  padding-right: 30px;
} */

.kanban__column-title {
  margin-bottom: 20px;
  font-size: 30px;
  color: white;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kanban__item-input {
  padding: 10px 15px;
  box-sizing: border-box;
  background: white;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid #de4db3;
  padding: 10px;
  box-shadow: 6px 4px #de4db3;
  transition: box-shadow 0.2s ease-out 0s, transform 0.2s ease-out 0s;
}

.kanban__dropzone {
  height: 10px;
  transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
  height: 20px;
  background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: white;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid #b3005e;
  /* border: 2px solid #b20d7b; */
  /* padding: 10px; */
  margin: 0;
  box-shadow: 6px 4px #b3005e;
}

.kanban__add-item:hover,
.kanban__item-input:hover {
  box-shadow: rgba(32, 32, 32, 0.05) 0px 16px 16px 0px,
    rgba(42, 42, 42, 0.05) 0px 8px 8px 0px,
    rgba(49, 49, 49, 0.05) 0px 4px 4px 0px,
    rgba(45, 45, 45, 0.05) 0px 2px 2px 0px,
    rgba(35, 35, 35, 0.05) 0px 64px 64px 0px,
    rgba(49, 49, 49, 0.05) 0px 32px 32px 0px;
  transform: translate(-5px);
}

.kanban__add-item:hover {
  background: rgba(0, 0, 0, 0.1);
  transition: all 0.15s, height 0.15s;
}

.assignment-container {
  min-width: 780;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.assignments-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 10px;
  padding: 20px;
  background: #6a5252;
  border-radius: 8px;
}

#assignment-item {
  padding: 12px;
  background: #aeaaaa;
  margin: 12px;
  border-radius: 12px;
  cursor: pointer;
}

@media (max-width: 800px) {
  h2 {
    display: none;
  }
}

@media (max-width: 1000px) {
  .kanban {
    display: inline-block;
  }
}

/* text */

h1 {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 16px;
  text-decoration-line: underline;
  text-decoration-line: underline;
  text-decoration-color: pink;
}

h2 {
  text-align: center;
  font-size: large;
  margin: 10px;
}

p {
  text-align: center;
}

.section-credit {
  position: sticky;
  bottom: 0;
}

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #de5392;
  border-radius: 100%;
  margin: auto;
  display: none;
  animation: spin 1s infinite linear; 
}
#loading.display {
  display: block;
}

#loading-selected {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #de5392;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s infinite linear;
}

#loading.display {
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
